/*
Author       : Syed Ekram.
Template Name: Approck - Responsive App Landing Page
Version      : 1.0
*/
/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START ABOUT US DESIGN
    05. START FEATURE ONE AND FEATURE TWO DESIGN
    06. START MAIN FEATURES DESIGN
    07. START APP SCREENSHOT DESIGN
    08. START HOW IT WORKS DESIGN
    09. START MORE FEATURES DESIGN
    10. START PRICING DESIGN
    11. START TESTIMONIAL DESIGN
    12. START DOWNLOAD DESIGN
    13. START NEWSLETTER DESIGN
    14. START CONTACT FORM  DESIGN
    15. START ADDRESS DESIGN
    16. START FOOTER DESIGN
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
body {
font-family: 'Lato', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 24px;
color: #777;
overflow-x: hidden;
margin: auto;
background: #fff;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 700;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 2px solid rgba(0, 0, 0, 0.08);
    border-right: 2px solid rgba(0, 0, 0, 0.08);
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    border-left: 2px solid #000;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title { margin-bottom: 60px }
.section-title  h2 {
font-size: 28px;
font-weight: 400;
letter-spacing: 2px;
margin-bottom: 0;
margin-top: 0;
text-transform: uppercase;
}
.line{
border-bottom: 1px dashed #777;
display: block;
margin: 15px auto;
width: 80px;
}
@media only screen and (max-width:480px) { 
.section-title  p{padding:0 15px}
}
/*END SECTION TITLE DESIGN*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 02. START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #00E0FF !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #171717 !important;
    background-color: transparent;
}
.navbar-brand { padding: 0px }
.navbar-brand img {
    width: 150px;
    margin-left: 10px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #fff }
.menu-top li a {
color: #fff !important;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: 600;
}
.menu-top li a:hover { color: #00E0FF !important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (max-width:480px) { 
    .menu-top { background-color: #fff }
    .navbar-default .navbar-nav > li > a { color: #313131  !important }
}
.navbar-default.menu-shrink {
background:rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
padding: 10px 0;
width: 100%;
 margin-top:0px
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default.menu-shrink li a {color: rgba(0, 0, 0, 0.6) !important; }
.navbar-default.menu-shrink li a:hover { color: #00E0FF !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #00E0FF }
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
.home_bg {
    height: 700px;
    position: relative;
}
@media only screen and (max-width:768px) { 
.home_bg {height: 1048px;}
}

@media only screen and (max-width:480px) { 
.home_bg {height: 1150px;}
}
@media only screen and (max-width:414px) { 
.home_bg {height: 1150px;}
}
@media only screen and (max-width:375px) { 
.home_bg {height: 1150px;}
}

@media only screen and (max-width:360px) { 
.home_bg {height: 1100px;}
}
@media only screen and (max-width:320px) { 
.home_bg {height: 1100px;}
}
.home_bg:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 100%;
    filter: alpha(opacity=80);
    position: absolute;
    width: 100%;
}
.hero-text h2 {
color: #fff;
font-size: 50px;
font-weight: 400;
letter-spacing: 0;
line-height: 64px;
padding-top: 350px;
text-transform: capitalize;
}
@media only screen and (max-width:768px) { 
.hero-text h2 {
font-size: 40px;
line-height: 46px;
}
}
@media only screen and (max-width:480px) { 
    .hero-text h2 {
		padding-top: 200px;
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width:360px) { 
    .hero-text h2 {
        font-size: 26px;
        line-height: 34px;
    }
}
.hero-text p {
    color: #fff;

}
.home_btn{
margin-left: -10px;
margin-top: 30px;
}
.home_btn a {
background: transparent none repeat scroll 0 0;
border: 2px solid #fff;
border-radius: 50px;
color: #fff;
display: inline-block;
padding: 10px 30px;
margin: 0 10px 15px;
transition: all 0.3s ease 0s;
}
.home_btn a:hover{
background:#009aaf;color:#fff;
border-color: #005B68;
}
.home_btn a i{
font-size: 20px;
margin-right: 5px;
vertical-align: middle;
}

.hero-text-img {
    padding-top: 100px;
}
.hero-text-img img {
  width: 250px;
  margin-top: 120px;
}
@media only screen and (max-width:768px) { 
.hero-text-img{padding-top: 58px; }
}
@media only screen and (max-width:480px) { 
.hero-text-img{
display: inline-block;
padding-top: 112px;
}
.hero-text-img img {width: 100%;}
}
@media only screen and (max-width:414px) { 
.hero-text-img{padding-top: 138px; }
}
@media only screen and (max-width:375px) { 
.hero-text-img{padding-top: 128px; }
}
@media only screen and (max-width:360px) { 
.hero-text-img{padding-top: 116px; }
}
@media only screen and (max-width:320px) { 
.hero-text-img{padding-top: 171px; }
}

/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 * 04.START ABOUT US DESIGN
 * ----------------------------------------------------------------------------------------
 */
.single_about{transition: all 0.3s ease 0s;}
@media only screen and (max-width:480px) { 
.single_about{margin-bottom: 30px;}
}
.single_about:hover i{
background: #009aaf none repeat scroll 0 0;
border: 1px solid #009aaf;
color: #fff;
}
.single_about i{
background: #fff none repeat scroll 0 0;
border: 1px solid #eee;
border-radius: 100px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
color: #009aaf;
float: left;
height: 45px;
line-height: 45px;
margin-right: 15px;
text-align: center;
width: 45px;
transition: all 0.3s ease 0s;
}
.single_about h4{
font-weight: 400;
letter-spacing: 1px;
margin-top: 0;
overflow: hidden;
text-transform: uppercase;
}
.single_about p{
overflow:hidden
}
/*
 * ----------------------------------------------------------------------------------------
 * 04.END ABOUT US DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 * 05.START FEATURE ONE AND FEATURE TWO DESIGN
 * ----------------------------------------------------------------------------------------
 */
.feature-one{}
.single_feature_img{text-align: center;}
.single_feature_img img{display: inline-block;}
.single_feature_one{padding-top: 0px;}
@media only screen and (max-width:768px) { 
.single_feature_one{padding-top: 50px;}
}
.single_feature_one h3{
color: #2a2b2f;
font-size: 45px;
font-weight: normal;
line-height: 50px;
margin: 0;
}
.single_feature_one p{margin: 30px 0;}

/*START FEATURE TWO DESIGN*/
.feature-two{}
.single_feature_two{padding-top: 170px;}
@media only screen and (max-width:768px) { 
.single_feature_two{padding-top: 50px;}
}
@media only screen and (max-width:480px) { 
.single_feature_two{padding-bottom: 50px;padding-top: 0px;}
}
.single_feature_two h3{
color: #2a2b2f;
font-size: 45px;
font-weight: normal;
line-height: 50px;
margin: 0;
}
.single_feature_two p{margin: 30px 0;}
.single_feature_two_img{}

.single_feature_two_img img{}
/*END FEATURE TWO DESIGN*/
.single_feature_btn_light{
background: #e0e0e0 none repeat scroll 0 0;
border-radius: 0;
color: #202020;
font-size: 12px;
letter-spacing: 2px;
outline: medium none !important;
padding: 15px 27px;
text-transform: uppercase;
transition: all 0.2s ease 0s;
}
.single_feature_btn_light:hover,
.single_feature_btn_light:focus {
    background: #ff5f83;
    color: #fff;
}
/*
 * ----------------------------------------------------------------------------------------
 * 05.END FEATURE ONE AND FEATURE TWO DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
* ----------------------------------------------------------------------------------------
* 06.START MAIN FEATURES DESIGN
* ----------------------------------------------------------------------------------------
*/
.single_feature {
	margin-top: 50px;
}
@media only screen and (max-width:480px) { 
.single_feature{margin-bottom: 50px;
margin-top: 0;}
}
@media only screen and (max-width:768px) { 
    .single_more_feature { padding-top: 0px }
}
.single_feature i {
border: 1px solid #e8e8e9;
border-radius: 50%;
color: #333;
display: inline-block;
font-size: 24px;
height: 80px;
line-height: 80px;
margin: 0 auto 15px;
position: relative;
text-align: center;
transition: all 0.3s ease 0s;
width: 80px;
z-index: 3;
}
.single_feature:hover i{
	background:  #009aaf;color:#fff;
}
.single_feature h3 {
    text-transform: uppercase;
    font-size: 14px;
}
.single_feature span {
    border-bottom: 1px dashed #ccc;
    width: 80px;
    display: block;
	margin-bottom: 10px;
}
.single_feature p { margin-bottom: 0 }
.feature_img img {
padding-top:25%;
width: 95%;
}
/*
* ----------------------------------------------------------------------------------------
* 06.END MAIN FEATURES DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 07.START APP SCREENSHOT DESIGN
* ----------------------------------------------------------------------------------------
*/
.sin-screenshot { z-index: 9 }
.sin-screenshot a {
    display: block;
    position: relative;
}
.sin-screenshot a:before {
    background: #24141e none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    right: 0;
    top: 0;
}
.sin-screenshot a:hover:before {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.screenshot-carousel { z-index: 9 }
.screenshot-carousel img { 
    margin-left: auto;
    margin-right: auto;
}
.screenshot-carousel p {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/*
* ----------------------------------------------------------------------------------------
* 07.END APP SCREENSHOT DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 08.START HOW IT WORKS DESIGN
* ----------------------------------------------------------------------------------------
*/
.about_video {
margin: 60px 0;
padding-bottom: 120px;
padding-top: 100px;
position: relative;
}
.about_video:before {
    background: rgba(15, 22, 30, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    position: absolute;
    top: 0;
    width: 100%;
}
.video-container h3 {
color: #fff;
font-weight: 400;
margin-top: 110px;
text-transform: uppercase;
margin-bottom: 0;
}
@media only screen and (max-width:320px) { 
    .video-container h3 { font-size: 20px }
}
.play-video {
background-color: #f55f83;
border-radius: 500px;
cursor: pointer;
height: 100px;
left: 51%;
margin-left: -63px;
position: absolute;
transition: all 0.2s ease 0s;
width: 100px;
}

@media only screen and (max-width:768px) { 
.play-video{ margin-left: -63px;}
}

@media only screen and (max-width:480px) { 
.play-video{ margin-left: -55px;}
}

@media only screen and (max-width:375px) { 
.play-video{ margin-left: -53px;}
}


.video-container a { display: inline-block }
.video-container a:hover .play-video {
    background: #ff5f83;
    color: #fff;
}
.video-container a:hover .fa-play { color: #fff }
.play-video .fa-play {
color: #fff;
font-size: 40px;
left: 40px;
position: absolute;
top: 30px;
}
.modal-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 100px;
    text-align: center;
    box-shadow: none;
    border: none;
}
.modal-content iframe { border: none }
/*
* ----------------------------------------------------------------------------------------
* 08.END HOW IT WORKS DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 09.START MORE FEATURES DESIGN
* ----------------------------------------------------------------------------------------
*/
 .more_features {
  padding-top: 60px;
}
  .single_more_feature {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	padding: 30px 15px;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}
.bg-icon span {
color: #2c3e50;
font-size: 150px;
left: 0;
margin-top: -29%;
opacity: 0.05;
position: absolute;
top: 50%;
transition-duration: 500ms;
width: 100%;
}
.single_more_feature:hover .bg-icon span {
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
}
.single_more_feature .single_icon {
	margin: 0px auto 20px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}
.single_icon span {
	font-size: 40px;
	text-align: center;
	color: #2c3e50;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.single_more_feature:hover .single_icon span {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	color: #ff5f83;
}
.single_more_feature .single_text h3 {
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
transition-duration: 500ms;
}

.single_more_feature:hover .single_text h3 {
	color: #ff5f83;
}

.single_more_feature .single_text p {
	color: #6f6f6f;
	margin: 0;
} 
/*
* ----------------------------------------------------------------------------------------
* 09.END MORE FEATURES DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 10.START PRICING DESIGN
* ----------------------------------------------------------------------------------------
*/
.our_pricing{background:#f9f9f9;}
.single-pricing{
background: #fff none repeat scroll 0 0;
border: 1px solid #f0f0f0;
text-align: left;
}
@media only screen and (max-width:480px) { 
.single-pricing{margin-bottom: 30px;}
}
.pricing-title{}
.pricing-title p{
background: #ff5f83 none repeat scroll 0 0;
color: #fff;
margin: 0;
padding: 10px;
text-align:center;
font-size: 16px;
}
.pricing-title p{}
.pricing-price{
background: #fbfbfb none repeat scroll 0 0;
color: #485a71;
font-size: 35px;
padding: 10px 0;
text-align: center;
}
.pricing-price p{
background: #fff none repeat scroll 0 0;
border: 1px solid #f0f0f0;
border-radius: 50%;
height: 120px;
line-height: 115px;
margin: 0 auto;
width: 120px;
}
.pricing-price p sup{font-size: 20px;}
.pricing-features{padding: 10px 0;}

.pricing-features p{
color: #777;
margin: 0;
padding: 10px 20px;
}
.pricing_btn{
background: #fbfbfb none repeat scroll 0 0;
padding: 30px 0;
text-align: center;
}
.pricing_btn a{
background: #ff5f83 none repeat scroll 0 0;
border: 1px solid #ff5f83;
border-radius: 50px;
color: #fff;
font-size: 14px;
padding: 10px 30px;
transition: all 0.4s ease 0s;
}
.pricing_btn a:hover{background:#fff;border: 1px solid #eee;color:#485a71;}
/*
* ----------------------------------------------------------------------------------------
* 10.END PRICING DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 11.START TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/

.testimonial-text i{
color: #ddd;
font-size: 60px;
margin-bottom: 20px;
}

.testimonial-text p {
    font-size: 18px;
	margin-bottom: 20px;
}
.testimonial-text img{border-radius: 500px;
margin: auto;
width: 100px;}
.testimonial-text h4 {
font-size: 14px;
margin-bottom: 15px;
text-transform: uppercase;
}
.testimonial-text h5{
color: #777;
margin-bottom: 0;
text-transform: uppercase;
} 
.carousel-indicators li {
    border: 1px solid #009aaf;
    border-radius: 12px;
    height: 12px;
    margin: 0 1px;
    width: 5px;
    background: #009aaf;
}
.carousel-indicators .active {
  background-color: #005B68;
  border: 1px solid #005B68;
  height: 18px;
  margin: 0 1px ;
  width: 5px;
}
.site-wrapper { margin-bottom: 65px }
#team__carousel { margin-bottom: 70px }
#team__carousel .carousel-indicators { bottom: -80px }
.carousel-control { display: none }

/*
* ----------------------------------------------------------------------------------------
* 11.END TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/ 
/*
* ----------------------------------------------------------------------------------------
* 12.START DOWNLOAD DESIGN
* ----------------------------------------------------------------------------------------
*/
.download {background:#009aaf none repeat scroll 0 0;}
.download_icon h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 0;
}
.download_icon img { margin: 0 10px }
@media only screen and (max-width:480px) { 
    .download_icon img { margin-bottom: 10px }
}
/*
* ----------------------------------------------------------------------------------------
* 12.END DOWNLOAD DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 13.START NEWSLETTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.newsletter{background:#f9f9f9;}
.signup_form h3 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
}
.signup_form input {
background: #fff none repeat scroll 0 0;
border: 1px solid #e8e8e9;
border-radius: 0;
box-shadow: none;
color: #333;
height: 50px;
margin-bottom: 30px;
}
.signup_form input:focus{
box-shadow: none;
border:1px solid #ff5f83;
border-radius: 0;
}
.signup_form button  {
background: #009aaf none repeat scroll 0 0;
border-radius: 0;
color: white;
font-size: 12px;
letter-spacing: 2px;
outline: medium none !important;
padding: 15px 27px;
text-transform: uppercase;
transition: all 0.2s ease 0s;
}
.signup_form button:hover,
.signup_form button:focus {
    background: #009aaf;
    color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 13.END NEWSLETTER DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 14.START CONTACT FORM DESIGN
* ----------------------------------------------------------------------------------------
*/
.contact input {
background: #fff none repeat scroll 0 0;
border: 1px solid #e8e8e9;
border-radius: 0;
box-shadow: none;
color: #333;
font-size: 16px;
height: 50px;
padding: 10px;
width: 100%;
}
.contact textarea {
background: #fff none repeat scroll 0 0;
border: 1px solid #e8e8e9;
border-radius: 0px;
box-shadow: none;
color: #333;
padding: 10px;
width: 100%;
font-size:16px;
}
.contact input:focus {
border: 1px solid #ff5f83;
    box-shadow: none;
    outline: 0 none;
}
.contact textarea:focus {
border: 1px solid #ff5f83;
    box-shadow: none;
    outline: 0 none;
}
.btn-contact-bg {
background: #e0e0e0 none repeat scroll 0 0;
border-radius: 0;
color: #202020;
font-size: 12px;
letter-spacing: 2px;
outline: medium none !important;
padding: 15px 27px;
text-transform: uppercase;
transition: all 0.2s ease 0s;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #ff5f83;
    color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 14.END CONTACT FORM DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 15.START ADDRESS DESIGN
* ----------------------------------------------------------------------------------------
*/

.our-address{background:white;}
@media only screen and (max-width:480px) { 
    .single_address{margin-bottom:30px; }
}
.single_address i {
color: #005B68;
font-size: 42px;
}
.single_address h4{
text-transform: capitalize;
}
.single_address p{color: #777;}
/*
* ----------------------------------------------------------------------------------------
* 15.END ADDRESS DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 16.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
background: #313238 none repeat scroll 0 0;
  padding:20px 0;
}
.footer_social {}
@media only screen and (max-width:480px) { 
.pull-right {float: none !important;}
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:480px) { 
.footer_social ul{text-align:center;}
}
.footer_social ul li { display: inline-block }
.footer_social ul li a {
color: #fff;
display: block;
font-size: 18px;
height: 48px;
line-height: 48px;
text-align: center;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
width: 48px;
}
.footer_social ul li a:hover { color: #ff5f83 }
/*END FOOTER SOCIAL DESIGN*/
.copyright p {
color:#fff;
margin-bottom: 0;
padding-top: 10px;
}
@media only screen and (max-width:480px) { 
.copyright p {text-align:center;}
}
/*
* ----------------------------------------------------------------------------------------
* 16.END FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/