#style-switcher h2 a { background: #ff5f83 none repeat scroll 0 0 }

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ff5f83 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ff5f83 !important;
    background-color: transparent;
}

.menu-top li a:hover { color: #ff5f83!important }

.navbar-default.menu-shrink li a:hover { color: #ff5f83 !important }
.navbar-default .navbar-toggle .icon-bar { background-color: #ff5f83 }


.single_about:hover i{
background: #ff5f83 none repeat scroll 0 0;
border: 1px solid #ff5f83;
}
.single_about i{color: #ff5f83;}


.single_feature_btn_light:hover,
.single_feature_btn_light:focus {background: #ff5f83;}

.single_feature:hover i{background: #ff5f83;}

[data-carousel-3d] [data-prev-button]:hover:before, [data-carousel-3d] [data-next-button]:hover:before {
    background:#ff5f83;color: #fff;
}
.screenshots-blue [data-carousel-3d] [data-prev-button]:hover:before, .screenshots-blue [data-carousel-3d] [data-next-button]:hover:before {
background:#ff5f83;color: #fff;
}

.play-video {background-color: #f55f83;}

.single_more_feature:hover .single_icon span {color: #ff5f83;}

.single_more_feature:hover .single_text h3 {color: #ff5f83;}

.pricing-title p{background: #ff5f83 none repeat scroll 0 0;}

.pricing_btn a{background: #ff5f83 none repeat scroll 0 0;border: 1px solid #ff5f83;}

.carousel-indicators li {
    border: 1px solid #ff5f83;
    background: #ff5f83;
}
.carousel-indicators .active {background-color: #ff5f83;}

.download {background:#ff5f83 none repeat scroll 0 0;}

.signup_form input:focus{border:1px solid #ff5f83;}


.signup_form button:hover,
.signup_form button:focus {background: #ff5f83;}

.contact input:focus {
border: 1px solid #ff5f83;
    box-shadow: none;
    outline: 0 none;
}
.contact textarea:focus {
border: 1px solid #ff5f83;
    box-shadow: none;
    outline: 0 none;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #ff5f83;
    color: #fff;
}
.footer_social ul li a:hover { color: #ff5f83 }







